* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Snappy";
    src: url('/fonts/SnappyServiceNF.ttf') format('truetype');
}

body {
    user-select: none;
    font-family: "Snappy", sans-serif;
}

.container,
.container #selectOptions {
    width: 95%;
    margin: 0 auto;
}

.banner {
    background-image: url("/images/AppBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
    width: 100%;
    padding-top: 1px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 8%;
}

h1,
h2 {
    text-shadow: 0 0 1px rgb(0, 0, 0);
    color: #e8e3e3;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu-option {
    display: flex;
    padding: 4em 0;
    border-bottom: 1px solid #D2D2D2;
    align-items: center;
    justify-content: center;
}

.option-details {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.emoji {
    font-size: 6rem;
}

.option-name {
    font-weight: 700;
    text-decoration: underline;
    font-size: 1.6rem;
}

.list-ingredients {
    font-weight: 600;
    font-size: 1.4rem;
}

.price {
    font-weight: 700;
    font-size: 1.6rem;
}

.option-name,
.list-ingredients,
.price {
    margin-bottom: 1.5em;
}

.plus-btn {
    width: 3.25rem;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.plus-btn:active {
    opacity: 0.5;
    transform: scale(1.2);
}

.orderTotal {
    display: none;
    margin-bottom: 2em;
}

.checkout {
    display: flex;
    margin-bottom: 4em;
    align-items: center;
}

.order-title {
    text-align: center;
    font-size: 3rem;
    margin: 2.5em 0 2.5em;
}

.checkout p {
    font-size: 2rem;
    display: inline-flex;
    padding: 0px;
}

.checkout p,
.remove-btn {
    justify-self: flex-start;
    margin-right: 0.8em;
}

.checkout-item-price {
    margin-left: auto;
}

.remove-btn {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.remove-btn:active {
    opacity: 65%;
    transform: scale(1.2);
}

.totalPrice {
    border-top: 4px solid black;
    border-radius: 3px;
    padding: 1.5em 0 2em 0;
    font-size: 2rem;
    width: 100%;
    display: flex;
}

#checkoutPrice {
    font-size: inherit;
    margin-left: auto
}

.submit-order {
    display: block;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    background-color: #16DB99;
    color: #FFFFFF;
    padding: 0.7em;
    font-size: 2rem;
    text-shadow: 0 0 1px black;
    cursor: pointer;
    border: none;
    margin-bottom: 3em;

}

.submit-order:active {
    background-color: #0da673
}

.payment-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 60%;
    top: 50%;
    left: 50%;
    gap: 1em;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    border: 5px solid black;
    box-sizing: border-box;
    max-height: 400px;
}

input {
    width: 90%;
    padding: 0.8em;
}

label {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    padding: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=submit] {
    background-color: #17c78d;
    color: #FFFFFF;
    text-shadow: 0 0 1px black;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
}

input[type=submit]:active {
    background-color: #0da673
}

.appreciationModal {
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    justify-content: center;
    width: 40%;
    max-width: 450px;
    height: 50%;
    max-height: 350px;
    top: 50%;
    left: 50%;
    gap: 2em;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    padding: 1.3em;
    color: black;
    border: 5px solid black;
    box-sizing: border-box;
}

.appreciationModal h2 {
    color: black;
    font-size: 1.4rem;
    text-decoration: underline;
}

.appreciationModal h3,
.appreciationModal h4 {
    font-size: 1.3rem;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.star {
    cursor: pointer;
    font-size: 1.7rem;
    color: #cccccc;
}

.star.highlight {
    color: gold;
    outline: gold;
    opacity: 80%;
}

@media (max-width: 600px) {

    .emoji {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .menu-option p {
        font-size: 1rem;
    }

    .menu-option h3 {
        font-size: 1.25rem;
    } 

    .plus-btn {
        width: 30px;
        align-self: center;
        margin-right: 2em;
    }

    .order-title {
        font-size: 2rem;
    }

    #orderTotal p {
        font-size: 1.25rem;
    }

    .total-price {
        font-size: 1.3rem;
    }

    .payment-modal {
        width: 75%;
        max-height: 400px;
    }

    .appreciationModal {
        height: auto;
        width: 75%;
        max-width: 500px;
        max-height: 375px;
    }
}